name: Publish

on:
  push:
    branches: [main]

jobs:
  publish-oci-image:
    name: Publish OCI image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Brioche
        uses: brioche-dev/setup-brioche@v1
      - name: Build container
        run: brioche build -e container -o kube-node-label-global-ips.tar
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish container
        run: |
          image_tag="ghcr.io/kylewlacy/kube-node-label-global-ips:latest"
          image_id="$(docker image load -i kube-node-label-global-ips.tar | grep -Eo 'sha256:[0-9a-fA-F]{64}$')"
          docker tag "$image_id" "$image_tag"
          docker push "$image_tag"
